body{
    background-image: url(../images/webtreats-free-tileable-tropical-abstract-patterns-part-1-flickr-webtreats-free-tileable-tropical-abstract-patterns-part-1-1-by-webtreats.jpg);
    color: white;
}
.jumbotron{
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    background: black;
    text-align: center;
    margin: 20px auto;
}
h1{font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}
.container{
    min-width: 85%;
}
.display{
    display: inline-table;
}
.gif{
margin: 10px;
}
button{
    margin: 5px;
}
